<div class="row justify-content-between mr-0">
    <div class="col-2 logo">
        <img src="{{ asset('/images/logo.png') }}" alt="logo">
    </div>
    <div class="col-2 position-relative">
        <a href="{{ path('panier') }}" class="panier">
            <img src=" {{asset('/images/shopping-bag.png') }}" class="panier_img"  alt="panier">
            <span class="panier_compte">{{ app.session.get('panier')|length }}</span>
        </a>
    </div>
</div>


{% if imageVin is defined and imageVin %}
    {% set image = asset('/images/cave.png') %}
{% else %}
    {% set image = asset('/images/restaurant.png') %}
{% endif %}


<img class="imgHeader" src="{{ image }}" alt="image header">

<nav>
    <div>
        <ul>
            <li>
                <a {% if app.request.get('_route') == 'formules' %}class="active"{% endif %} href="{{ path('formules') }}">Les formules</a>
            </li>
            <li>
                <a {% if app.request.get('_route') == 'entrees' %}class="active"{% endif %} href="{{ path('entrees') }}">Entrées</a>
            </li>
            <li>
                <a {% if app.request.get('_route') == 'plats' %}class="active"{% endif %} href="{{ path('plats') }}">Plats</a>
            </li>
            <li>
                <a {% if app.request.get('_route') == 'desserts' %}class="active"{% endif %} href="{{ path('desserts') }}">Desserts</a>
            </li>
            <li>
                <a {% if app.request.get('_route') == 'boissons' %}class="active"{% endif %} href="{{ path('boissons') }}">Les boissons</a>
            </li>
        </ul>
    </div>
</nav>