{% extends 'base.html.twig' %}

{# Permet de définir une image différente dans le header (paramétré dans "base.html.twig") #}
{% set imageVin = true %}

{% block body %}
        <div class="col-12 mt-5 contenu">
            <div class="contenu_vin">
                <h3>Les Blancs</h3>
                <hr>
                <div class="row">
                    <h4 class="row">Fruité, Floral ou Minéral…</h4>
                </div>
                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2014 Muscadet de Sèvre et Maine Goulaine AOC Domaine de la Grange (Loire)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">44€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2017 Clos Henri Sauvignon Blanc, Marlborough, H. Bourgeois (Nouvelle Zélande)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">50€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>
               
                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2017 Montagny 1er Cru Les Bassets AOC Domaine Laurent Cognard (Bourgogne)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">56€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2017 Sancerre AOC La Poussie (Loire)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">58€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2010 Domaine de Baal Vallée de la Bekaa (Liban)</p>
                        </div>
                        <div class="row offset-2 col-1 mt-1">65€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>


                <div class="row">
                    <H4 class="row">Elégant, Ample, Complexe…</h4>
                </div>
                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2017 Riesling Grand Cru Schoenenbourg AOC Domaine Edmond Rentz (Alsace)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">48€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2018 Crozes Hermitage AOC on the Road Again J.Pilon (Rhône Septentrional)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">48€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2016 Les Renardières 5 Grammes Domaine P. Gilbert (Loire)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">49€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>


                <div class="row">
                    <H4 class="row">Rond, Aromatique, Plaisant…</h4>
                </div>
                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2017 Domaine Benastra Côtes du Roussillon (Roussillon)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">49€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>
                    
                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2017 Mayol Tradition AOC Domaine Laurent Cognard (Luberon)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">54€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>
                    
                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2018 Pouilly Fumé AOC Domaine Ladoucette (Loire)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">55€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>
        
                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2017 Vénus Blanche Côtes du Rhône AOC (Rhône Septentrional)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">56€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2016 Meursault AOC Domaine de La Galopière (AOC Bourgogne)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">65€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>


                <h3>Les Rouges</h3>
                <hr>
                <div class="row">
                    <h4 class="row">Fruité, Souple, Elégant…</h4>
                </div>
                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2015 Menetou Salon les Renardières AOC Domaine P. Gilbert (Loire)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">49€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2017 Pernand Vergelesse AOC Domaine Rollin (Bourgogne)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">50€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2015 Pinot Noir Clos Henri, Malborough, H . Bourgeois (Nouvelle Zélande)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">50€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2007 Château Les Ormes Sorbet AOC Médoc (Bordeaux)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">55€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                <div class="row">
                    <h4 class="row">Elégant, Complexe, Fruité…</h4>
                </div>
                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2016 Domaine Benastra Côtes du Roussillon AOP (Roussillon)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">48€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2015 Emotion Domaine Mayol AOC (Luberon)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">51€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2016 Langhe Nebbiolo DOC Pira Luigi, Serralunga D’Alba (Piémont Italie)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">52€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2017 Mercurey Les 2 Terres AOC Domaine L. Cognard (Bourgogne)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">54€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2014 Pavillon de Léoville Poyférré AOC Saint Julien (Bordeaux)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">68€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>
              
                <div class="row">
                    <h4 class="row">Riche, Intense, Aromatique…</h4>
                </div>
                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2016 Barbera Superiore DOC Pira Luigi, Serralunga D’Alba (Piémont Italie)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">52€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>
            
                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2014 Cornas AOC Les Arènes Maison Chapoutier (Rhône Septentrional)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">60€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>
                     
                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">2011 Domaine de Baal Vallée de la Bekaa (Liban)</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">65€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>


                <h3>Les Eaux</h3>
                <hr>
                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">Vittel 50cl</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">4.50€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">Vittel 1l</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">7.00€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">San Pellegrino 50cl</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">4.50€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">San Pellegrino 1l</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">7.00€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>

                    <div class="row">
                        <div class="row col-5">
                            <p class="mt-1">Châteldon 75cl</p> 
                        </div>
                        <div class="row offset-2 col-1 mt-1">7.00€</div>
                        <div class="row col-1"><a href="#"><img class=" btn-plus" src="{{ asset('images/plus.png') }}" alt="ajout"></a></div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}







