{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for dessert in desserts %}
            <div class="col-4 mt-5 contenu">
                <h3>{{ dessert.Intitule }} - {{ dessert.Prix }}€</h3>
                <hr>
                <p>{{ dessert.Description }}</p>
                <img src="{{ asset(dessert.Image) }}" alt="image de {{ dessert.Intitule }}">
                <button data-id="{{ dessert.id }}" type="button" class="btn-style" data-target="#confirmation_modal" data-toggle="modal">Ajouter</button>
            </div>
        {% else %}
            <div class="col contenu">Désolé nous n'avons pas de dessert à vous proposer.</div>
        {% endfor %}
    </div>
</div>

{% endblock %}