{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for entree in entrees %}
            <div class="col-4 mt-5 contenu">
                <h3>{{ entree.Intitule }} - {{ entree.Prix }}€</h3>
                <hr>
                <p>{{ entree.Description }}</p>
                <img src="{{ asset(entree.Image) }}" alt="image de {{ entree.Intitule }}">
                <button data-id="{{ entree.id }}" type="button" class="btn-style" data-target="#confirmation_modal" data-toggle="modal">Ajouter</button>
            </div>
        {% else %}
            <div class="col contenu">Désolé nous n'avons pas d'entrée à vous proposer.</div>
        {% endfor %}
    </div>
</div>

{% endblock %}