{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for plat in plats %}
            <div class="col-4 mt-5 contenu">
                <h3>{{ plat.Intitule }} - {{ plat.Prix }}€</h3>
                <hr>
                <p>{{ plat.Description }}</p>
                <img src="{{ asset(plat.Image) }}" alt="image de {{ plat.Intitule }}">
                <button data-id="{{ plat.id }}" type="button" class="btn-style" data-target="#confirmation_modal" data-toggle="modal">Ajouter</button>
            </div>
        {% else %}
            <div class="col contenu">Désolé nous n'avons pas de plat à vous proposer.</div>
        {% endfor %}
    </div>
</div>

{% endblock %}